<footer class="wsk-mini-footer">
    <div class="wsk-mini-footer--left-section">
      <ul class="wsk-mini-footer--link-list">
        <li><a href="http://www.apache.org/licenses/LICENSE-2.0">license</a></li>
        <li><a href="{{ .Site.Params.github }}">code</a></li>
      </ul>
    </div>
      <div class="wsk-mini-footer--right-section">
      <ul class="wsk-mini-footer--link-list">
        <li>{{ .Site.Title }} <strong>{{ .Site.Params.description }}</strong></li>
      </ul>
      </div>
  </footer>
</div>
</body>
</html>
