
<footer class="wsk-mini-footer">
    <div class="wsk-mini-footer--left-section">
      <div class="wsk-logo">
        {{ .Site.Title }} <strong>{{ .Site.Params.description }}</strong>
      </div>
      <ul class="wsk-mini-footer--link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy &amp; Terms</a></li>
      </ul>
    </div>
      <div class="wsk-mini-footer--right-section">
        <button class="wsk-mini-footer--social-btn"><img src="{{ .Site.BaseUrl }}/images/gh.png" /></button>
        <button class="wsk-mini-footer--social-btn"></button>
        <button class="wsk-mini-footer--social-btn"></button>
        <button class="wsk-mini-footer--social-btn"></button>
      </div>
  </footer>
</div>
</body>
</html>
